<html>
    <form method="post" action="/api/login">
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" placeholder="Masukkan Username Anda">

        <br>

        <label for="password">Password</label>
        <br>
        <input type="password" name="password" placeholder="Masukkan Password Anda">
        <br>

        <button type="submit">Login</button>
    </form>
</html>